### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

target/
.idea/
*.iml
call_logs.csv
# Maven
/target/
/out/

# IDE
.idea/
*.iml

# Logs & DB
/logs/
/data/*.db
*.csv

# OS
.DS_Store
